@import "tailwindcss";

@layer base {
  :root {
    --background: 48 33% 97%;
    --foreground: 220 3% 20%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased;
  }
}
